#minirefresh{
	top: 166px;
	bottom: 96px;
}
.list-content{
	padding-bottom: 96px;
	margin-top: 80px;
}
.listContent_ul{
	overflow: hidden;
	padding-left:0;
	margin: 0;
	border-top: 1px solid rgb(225, 225, 225);
}
.list{
	float: left;
	width: 50%;
	box-sizing: border-box;
	/*height: 248px;*/
	overflow: hidden;
	padding: 20px 20px 20px 20px;
	border-right: 1px solid rgb(225, 225, 225);
	border-bottom: 1px solid rgb(225, 225, 225);
}
.list-text{
	color: #333;
	font-size: 22px;
	text-align: left;
	margin-top: 5px;
	color: #999;
}
.list-chineseName{
	font-size: 36px;
	color: #000;
}
.list img{
	display: block;
	height: auto;
	width: 100%;
	height: 250px;
}
.no-more{
	width: 100%;
	height: 80px;
	color: rgb(125, 125, 125);
	line-height: 80px;
	text-align: center;
	position: relative;
	font-size: 20px;
}
.no-more::after{
	content: '';
	position: absolute;
	background: url(../img/no-more.png) no-repeat;
	background-size: 100% 100%;
	width: 308px;
	height: 6px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
/*common head begin*/
.header-content{
  background-color: #fff;
  border-bottom: 1px solid #e1e1e1;
}
.listSearchInput{
  height: 60px;
  width: 95%;
  margin: 0 auto;
  border-radius: 60px;
  border:1px solid #999;
  margin-top: 10px;
  
}
.listSearchInput_iocn{
  height: 60px;
  width: 60px;
  float: right;
  background:url(../img/icon_fdj.png) no-repeat center center;
  background-size: 40px;
}
.listSearchInputText{
  line-height: 60px;
  display: inline-block;
  margin-left: 30px;
  font-size: 24px;
  color: #666;
  width: 85%;
  height: 56px;
  border:0;
  outline: none;
  position: relative;
  top: 1px;
}
.listSearchInputText::-webkit-input-placeholder{
	    		color: #666;
	    	}
.clearSearch{
  position: absolute;
  height: 30px;
  width: 30px;
  font-size: 30px;
  text-align: center;
  line-height: 30px;
  left: 85%;
  border:1px solid #999;
  border-radius: 50%;
  top: 26px;
}
/*common head end*/
/* result-masker start */
.result-masker{
    display: none;
    position: relative;
    bottom: 0;
    width: 100%;
    top: 60px;
    padding-top: 50px;
    z-index: 10;
}

.result-masker.active{
    display: block;
}

.result-masker .pic{
    text-align: center;
    margin-bottom: 30px;
}

.result-masker .pic img{
    width: 220px;
    height: 220px;
}

.result-masker .text{
    display: block;
    font-size: 22px;
    text-align: center;
    color:rgb(125, 125, 125);
}

/* result-masker end */