
.indexContent{
  /*background-color: #f2f2f2;*/
  padding-bottom: 96px;  
}
.split_line{
  background: #f8f8f8;
    height: 20px;
    width: 100%;
}
/**/
/*焦点图 start*/
.swiper-container1 {
    width: 100%;
    height: 100%;
}
.swiper-container1 .swiper-slide {
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 380px;
}
.swiper-container1 .swiper-slide img{
    width: 100%;
    height: 100%;
}

#jd_swiper .swiper-pagination-bullet {
    width: 37px;
    height: 4px;
    background: rgb(216, 216, 216);
    opacity: 1;
    border-radius: 0;
}

#jd_swiper .swiper-pagination-bullet-active {
    background: #fff;
}
/* link-list start*/
.swiper-container2 {
    padding: 34px 0px;
    background-color: #fff;
    margin-bottom: 10px;
}

.swiper-container2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 150px;
}
.swiper-container2 .swiper-slide a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkitk-flex-direction: column;
    flex-direction: column;
}

.swiper-container2 .swiper-slide .text{
    font-size: 24px;
    line-height: 24px;
    display: block;
}

.swiper-container2 .swiper-slide .icon{
    width: 90px;
    height: 90px;
    margin-bottom: 22px;
}

.swiper-container2 .jpsc-link .icon{
    background:url("../img/index/icon_boutique.png") no-repeat;
    background-size:100% 100%;
}

.swiper-container2 .sxh-link .icon{
    background:url("../img/index/icon_search.png") no-repeat;
    background-size:100% 100%;
}

.swiper-container2 .sctk-link .icon{
    background:url("../img/index/icon_gallery.png") no-repeat;
    background-size:100% 100%;
}

.swiper-container2 .supplier-link .icon{ 
    background:url("../img/index/supplier.png") no-repeat;
    background-size:100% 100%;
}

.swiper-container2 .ybsc-link .icon{
    background:url("../img/index/icon_Send.png") no-repeat;
    background-size:100% 100%;
}