/* panel-person start */
.panel-person {
    width: 100%;
    height: 351px;
    background: url(../img/persion/focus.png) no-repeat;
    background-size: 100% 100%;
}

.panel-person .pic {
    padding-top: 64px;
    text-align: center;
    width: 135px;
    margin: 0 auto;
}

.panel-person img{
    border-radius: 50%;
    display: inline-block;
    margin: 0 auto;
}

.panel-person .name {
    text-align: center;
    color: #fff;
    font-size: 32px;
    line-height: 32px;
    padding-top: 30px;
}

/* panel-person end */

/* personal-list start */
.personal-list {
    background: #f9f9f9;
    padding-bottom: 96px;
}
.personal-list .personal-item{
    padding-left: 24px;
    margin-bottom: 24px;
    background: #fff;
}

.personal-list .personal-item .link {
    height: 100px;
    background: #fff;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    position: relative;
}

.personal-list .personal-item .label{
    color: #000;
    font-size: 28px;
}

.personal-list .personal-item .text{
    color: rgb(153, 153, 153);
    font-size: 28px;
}

.personal-list .personal-item .nextpage-icon{
    display: block;
    width: 14px;
    height: 27px;
    background: url(../img/persion/icon-nextpage.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

.personal-list .cerification-personal .label{
    line-height: 32px;
}

.personal-list .cerification-personal .text{
    margin-left: 20px;
}

.personal-list .cerification-personal .button{
    font-size: 22px;
    padding: 7px 14px;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    right: 57px;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

.personal-list .cerification-personal .authorized-button{
    background-image: -webkit-linear-gradient(
        to right,
        rgb(86, 119, 248) 0%,
        rgb(63, 168, 255) 100%
    );
    background-image: linear-gradient(
        to right,
        rgb(86, 119, 248) 0%,
        rgb(63, 168, 255) 100%
    );
}

.personal-list .cerification-personal .unauthorized-button{
    background: #000;
}
/* order-personal start */
.personal-list .order-personal .title{
    height: 100px;
    background: #fff;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    position: relative;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.personal-list .order-personal .title .check-all{
    color: rgb(153, 153, 153);
    font-size: 24px;
    position: absolute;
    right: 57px;
    top: 50%;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}

.personal-list .order-personal .order-list {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    /* padding-right: 24px; */
    margin-left: -24px;
}   

.personal-list .order-personal .order-item {
    text-align: center;
    padding-top: 26px;
    box-sizing: border-box;
    flex: 1;
    -webkit-flex: 1;
}

.personal-list .order-personal .order-item .icon{
    position: relative;  
}

.personal-list .order-personal .obligation-order .icon{
    width: 50px;
    height: 40px;
    display: inline-block;
    background: url("../img/persion/obligation.png") no-repeat;
    background-size: 100% 100%;
}

.personal-list .order-personal .delivered-order .icon{
    width: 50px;
    height: 40px;
    display: inline-block;
    background: url("../img/persion/delivered.png") no-repeat;
    background-size: 100% 100%;
}

.personal-list .order-personal .received-order .icon{
    width: 50px;
    height: 35px;
    display: inline-block;
    background: url("../img/persion/received.png") no-repeat;
    background-size: 100% 100%;
    margin-bottom: 5px;
}

.personal-list .order-personal .success-order .icon{
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url("../img/persion/success.png") no-repeat;
    background-size: 100% 100%;
}

.personal-list .order-personal .cancel-order .icon{
    width: 40px;
    height: 40px;
    display: inline-block;
    background: url("../img/persion/cancel.png") no-repeat;
    background-size: 100% 100%;
}

.personal-list .order-personal .order-item .number{
    background: rgb(226, 56, 59);
    border-radius: 12.5px;
    color: #fff;
    font-size: 20px;
    position: absolute;
    left: 29px;
    top: -9px;
    height: 25px;
    line-height: 25px;
    min-width: 25px;
    padding: 0 5px;
    box-sizing: border-box; 
    display: none;
}

.personal-list .order-personal .order-item .number.active{
    display: block;
}

.personal-list .order-personal .order-item .text {
    display: block;
    font-size: 26px;
    line-height: 26px;
    padding: 15px 0 25px 0;
}
/* order-personal end */

/* collection-personal start */
.personal-list .collection-personal .title{
    height: 100px;
    background: #fff;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    position: relative;
    border-bottom: 1px solid rgb(225, 225, 225);
}

.personal-list .collection-personal .collection-list {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    margin-left: -24px;
}   

.personal-list .collection-personal .collection-item {
    text-align: center;
    padding-top: 48px;
    box-sizing: border-box;
    flex: 1;
    -webkit-flex: 1;
}

.personal-list .collection-personal .collection-item .number{
    font-size: 30px;
    line-height: 30px;
    padding: 0 5px;
    box-sizing: border-box;
}

.personal-list .collection-personal .collection-item .text {
    display: block;
    font-size: 26px;
    line-height: 26px;
    padding: 31px 0 43px 0;
}

.personal-list .collection-personal .empty-collection {
    opacity: 0;
}

/* collection-personal end */

/* 购物车 start */
.personal-list .cart-personal .number{
    background: rgb(226, 56, 59);
    border-radius: 12.5px;
    color: #fff;
    font-size: 20px;
    height: 25px;
    line-height: 25px;
    min-width: 25px;
    padding: 0 5px;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    margin-left: 10px;
    margin-top: 4px;
    display: none;
}

.personal-list .cart-personal .number.active{
    display: block;
}
/* 购物车 end */

/* 隐藏价格 start */
.personal-list .price-personal .hide-price {
    font-size: 28px;
    line-height: 28px;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 100px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.personal-list .price-personal .hide-price .toggle{
    position: relative;
    display: inline-block;
    padding-right: 25px;
}

.personal-list .price-personal .toggle .checkbox{
    display: none;
    width: auto;
}

.personal-list .price-personal .toggle-balanced .track{
    box-sizing: border-box;
    width: 62px;
    background-color: #E5E5E5;
    border: 2px solid #E5E5E5;
    border-radius: 31px;
    transition:all 0.2s ease-in-out;
}

.personal-list .price-personal .toggle .track .handle{
    transition:all 0.2s ease-in-out;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.15);
}

.personal-list .price-personal .toggle.active .track {
    background-color: rgb(126, 211, 33);
    border: 2px solid  rgb(126, 211, 33);
}

.personal-list .price-personal .toggle.active .track .handle {
    transform: translate(24px, 0);
    background-color: #fff;
}
/* 隐藏价格 end */