.searchContent{
       
	}
	 /*头部*/
  .searchHeader-content{
  	position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 100;
  }
   .searchHeader-content .searchHeader-text{
     display: block;
     height: 100%;
     font-size:28px;
     color: #fff;
     line-height: 80px;
     text-align: center;
   }

.searchHeader-back{
  position: absolute;
  height: 80px;
  width: 80px;
  left: 0;
  background: url(../img/back.png) no-repeat center center;
  background-size: 40px;
  background-color: #636753;
}

.searchHeader-input{
	height: 80px;
	width: 670px;
	margin-left: 80px;
	position: relative;
}
.searchHeader-input input{
	height: 80px;
	width:590px;
	border: 0;
	border: 1px solid #e1e1e1;
	border-right: 0;
	font-size: 30px;
	box-sizing: border-box;
	padding-left: 10px;
	outline: none;
}
.searchHeader-search{
  position: absolute;
  height: 80px;
  width: 80px;
  right: 0;
  top: 0;
  background: url(../img/fdj.png) no-repeat center center;
  background-size: 48px;
  background-color:#3399ff;
}